.nav a {
    margin-left: 20px;
    font-weight: 500;
    color: #e5e7eb;
}

.nav a:hover {
    color: #38bdf8;
}

.card {
    background: #ffffff;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
    border-radius: 999px;
}